@media (max-width: 815px){
    .container{
        min-width: 400px;
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        min-width: 100px;
        display: none;
    }

    .header-list{
        position: fixed;
        top: 45px;
        right: 0;
        height: 100vh;
        min-width: 250px;
        z-index: 999;
        background-color: rgba(51, 51, 51, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.3s;
    }
    ul {
        padding-inline-start: 0px;
    }

    nav li{
        width: 100%;
    }

    nav li a {
        width: 100%;
    }

    .btn-reset.burger {
        margin: 20px 0;
        position: relative;
        display: block;
        border: 2px solid currentColor;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        color: #000;
    }

    .btn-reset.burger.active .burger___line:nth-child(2){
        opacity: 0;
    }
    .btn-reset.burger.active .burger___line:nth-child(1){
        transform: translateY(7px) translateX(-10px) rotate(45deg);
    }
    .btn-reset.burger.active .burger___line:nth-child(3){
        transform: translateY(-7px) translateX(-10px) rotate(-45deg);
    }

    .burger___line {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger___line:nth-child(1){
        top: 10px;
    }

    .burger___line:nth-child(2){
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger___line:nth-child(3){
        bottom: 10px;
    }
}

@media (max-width: 530px){
    .container {
        min-width: 240px;
    }

    .header-list{
        min-width: 100%;
    }
    
    .big-welcome-img {
        width:100%;
        min-height: 100%;
    }
    
    .cat-img {
        border-radius: inherit;
        height: 100%;
    }
    
    .right-area {
        width: 100%;
        min-height: 100%;
    }
}

@media (prefers-color-scheme: dark){
    body, html{
        background-color: #000;
        color: #fff;
    }
}