#header-chat-item {
    order: -6;
}

main {
    width: 100%;
    height: 80vh;
}

.welcome-area {
    width: 100%;
    height: 100%;
}

.welcome-area .container {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}



    /* CHAT_LIST_AREA */



    
.chat-list-area {
    width: 20%;
    height: 100%;
    background-color: rgba(129, 70, 223, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
}

.chat-list {
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style-type: none;
}

.chat-list-item {
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    position: relative;
}

.chat-item-id {
    display: none;
}

.chat-item-counter {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(129, 70, 223, 0.8);
    border-radius: inherit;
    transform: translateX(-50%);
}



/* CHAT BLOCK AREA */


.messages-of-chat {
    width: 55%;
    height: 100%;
    background-color: rgba(129, 70, 223, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.messages-of-chat-head-menu{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: #38bbd2;
}

.chats-menu-botton{
    position: relative;
    height: 40px;
    border-radius: 10px;
}

.chats-menu-name{
    padding-left: 40px;
}

.users-menu-botton{
    position: relative;
    height: 40px;
    border-radius: 10px;
}

.users-menu-name{
    padding-right: 40px;
}

.messages-field {
    width: 100%;
    height: 85%;
    padding: 10px;
    border: 3px solid rgb(99, 59, 207);
    border-radius: inherit;
}

.chat-messages-fields {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(69, 67, 67);
    border-radius: inherit;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    width: 100%;
    margin-bottom: 20px;
}

.message.my-message {
    text-align: right;
}

.message-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.message-head.my-message {
    flex-direction: row-reverse;
    margin-bottom: 0px;
    margin-left: 10px;
}

.message-head-login {
    margin-right: 10px;
}

.message-head-login.my-message {
    margin-right: 0px;
    margin-left: 10px;
}

.message-head-time {
    color: rgb(45, 56, 48);
}

.message-head-id {
    padding: 0 10px;
}

.message-body {
    width: 100%;
    position: relative;

}

.message-body-delete-botton{
    display: none;
    background-color: rgb(255, 37, 37);
    position: absolute;
    top: -10px;
    left: 1000px;
    transform: translate(-50%, -50%);

}

.message-body-response-botton{
    position: absolute;
    top: 15px;
    left: 1000px;
    transform: translate(-50%, -50%);
}

.message-body-id-data{
    display: none;
}

.message-body-text {
    padding: 3px 10px;
    display: inline-block;
    border: 3px solid rgb(189, 138, 250);
    background-color: rgba(18, 202, 107, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.message-footer-replay-by {
    padding: 5px 30px;

}

.message-footer-replay-by a {
    text-decoration: none;
    font-size: 12px;
}



.new-message-form {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 13%;
    border-radius: inherit;
}

.input-text {
    width: 75%;
    height: 80%;
    resize: none;
    margin: 10px;
    border-radius: inherit;
}

.send-message-button {
    width: 15%;
    height: 50%;
    margin: auto;
    border-radius: inherit;
}






/* USERS LIST */

.users-list-area {
    width: 20%;
    height: 100%;
    background-color: rgba(129, 70, 223, 0.2);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.users-list {
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style-type: none;
}

.users-list-item {
    position: relative;
    width: 100%;
    padding: 5px 10px;
}

.users-item-login {
    font-size: 20px;
}

.user-info{
    position: absolute;
    width: 80%;
    top: 10px;
    left: 1000px;
    transform: translate(-50%, 0%);
    z-index: 999;
    background-color: rgba(198, 255, 93, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(255, 245, 54);
    padding: 5px 10px;
}


.users-item-id {
    display: none;
}

.write-to-user-button{
    display: none;
}

.send-warn-to-user-button{
    display: none;
}

.delete-user-button {
    display: none;
}











@media (max-width: 815px){
    .container{
        min-width: 400px;
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        min-width: 100px;
        display: none;
    }

    .header-list{
        position: fixed;
        top: 45px;
        right: 0;
        height: 90vh;
        min-width: 250px;
        z-index: 999;
        background-color: rgba(51, 51, 51, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.3s;
    }
    ul {
        padding-inline-start: 0px;
    }

    nav li{
        width: 100%;
    }

    nav li a {
        width: 100%;
    }

    .btn-reset.burger {
        margin: 20px 0;
        position: relative;
        display: block;
        border: 2px solid currentColor;
        border-radius: 5px;
        width: 40px;
        height: 40px;
    }

    .btn-reset.burger.active .burger___line:nth-child(2){
        opacity: 0;
    }
    .btn-reset.burger.active .burger___line:nth-child(1){
        transform: translateY(7px) translateX(-10px) rotate(45deg);
    }
    .btn-reset.burger.active .burger___line:nth-child(3){
        transform: translateY(-7px) translateX(-10px) rotate(-45deg);
    }

    .burger___line {
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .btn-reset.burger .burger___line {
        left: 50%;
    }

    .burger___line:nth-child(1){
        top: 10px;
    }

    .burger___line:nth-child(2){
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger___line:nth-child(3){
        bottom: 10px;
    }
}

@media (max-width: 530px){
    .container {
        min-width: 240px;
    }

    .header-list{
        min-width: 100%;
    }

    .messages-of-chat{
        width: 100%;
    }

    .messages-of-chat-head-menu{
        display: flex;
    }

    .messages-field{
        height: 70%;
    }




    .chat-list-area{
        display: none;
        position: fixed;
        top: 130px;
        left: 0;
        height: 75vh;
        min-width: 250px;
        z-index: 969;
        background-color: rgba(50, 146, 188, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.5s;
    }

    .users-list-area{
        display: none;
        position: fixed;
        top: 130px;
        right: 0;
        height: 75vh;
        min-width: 250px;
        z-index: 909;
        background-color: rgba(50, 146, 188, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: 0.5s;
    }






    .chats-menu-botton .burger___line {
        left: 20px;
        background-color: currentColor;
    }

    .users-menu-botton .burger___line {
        right: 0px;
    }

    .chats-menu-botton.active .burger___line:nth-child(2){
        opacity: 0;
    }
    .chats-menu-botton.active .burger___line:nth-child(1){
        transform: translateY(7px) translateX(-10px) rotate(45deg);
    }
    .chats-menu-botton.active .burger___line:nth-child(3){
        transform: translateY(-7px) translateX(-10px) rotate(-45deg);
    }

    .users-menu-botton.active .burger___line:nth-child(2){
        opacity: 0;
    }
    .users-menu-botton.active .burger___line:nth-child(1){
        transform: translateY(7px) translateX(-10px) rotate(45deg);
    }
    .users-menu-botton.active .burger___line:nth-child(3){
        transform: translateY(-7px) translateX(-10px) rotate(-45deg);
    }


}

@media (prefers-color-scheme: dark){
    body, html{
        background-color: #000;
        color: #fff;
    }
}